<div id="game_show">
  <p id="notice"><%= notice %></p>

  <div class="page-header">
    <h2>
      <%= @game.name %><br>
      <small><%= @game.description %></small>
    </h2>
  </div>

  <div id="players_area">
    <h3>Players</h3>
    <% if @players.empty? %>
      No players.
    <% else %>
      <% @players.each do |player| %>
        <%= render :partial => 'players/partials/form', :locals => {:player => player} %>
      <% end %>
    <% end %>

    <h4>New player</h4>
    <%= render :partial => 'players/partials/form', :locals => {:player => @new_player} %>
  </div>

  <%= link_to 'Edit', edit_game_path(@game) %> |
  <%= link_to 'Back', games_path %>
</div>