<div id="game_show">
  <div class="page-header">
    <h2>
      <%= @game.name %><br>
      <small><%= @game.description %></small>
    </h2>
  </div>

  <% if notice %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= alert %>
    </div>
  <% end %>

  <div id="graph_area">
    <!--Filled in in games.js.-->
  </div>

  <script type='text/javascript'>
    drawGraphArea();
  </script>

  <div id="players_area">
    <h3>Players</h3>
    <% if @players.empty? %>
      No players.
    <% else %>
      <% @players.each do |player| %>
        <%= render :partial => 'players/partials/form', :locals => {:player => player} %>
      <% end %>
    <% end %>

    <h4>New player</h4>
    <%= render :partial => 'players/partials/form', :locals => {:player => @new_player, :game_id => @game.id} %>
  </div>

  <%= link_to 'Edit', edit_game_path(@game) %> |
  <%= link_to 'Back', games_path %>
</div>