<div id="game_show">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @game.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @game.description %>
    </p>

    <div id="players_area">
        <span class="big">Players</span>
        <% if @players %>
          <% @players.each do |player| %>
            <%= render :partial => 'players/partials/form', :locals => {:player => player} %>
          <% end %>
        <% else %>
          No players.
        <% end %>

        <span class="medium">New player</span>
        <%= render :partial => 'players/partials/form', :locals => {:player => @new_player} %>
    </div>

    <%= link_to 'Edit', edit_game_path(@game) %> |
    <%= link_to 'Back', games_path %>
</div>