<div id="game_show">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @game.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @game.description %>
    </p>

    <div id="players_area">
        <span class="big">Players</span>
        <% @players.each do |player| %>
          <%= render :partial => 'players/partials/form', :player => player %>
        <% end %>

    </div>

    <%= link_to 'Edit', edit_game_path(@game) %> |
    <%= link_to 'Back', games_path %>
</div>