<!--players/partials/form; assumes presence of 'player', optional 'game_id'-->
<div class="my_border">
<%= form_for(player) do |f| %>
  <div class="field">
    <div class="inline-block">
      <%= f.label :name, for: "player_name_#{player.id}" %>
      <%= f.text_field :name, id: "player_name_#{player.id}" %>
    </div>

    <div class="inline-block">
      <%= f.label :rivals, 'Target' %>
      <ul class="no_left_padding">
        <% player.competitors.each do |competitor| %>
          <li class="no_bullet">
            <%= check_box_tag "player[rival_ids][]", competitor.id,
                player.rivals.include?(competitor) %>
            <%= competitor.name %>
          </li>
        <% end %>
      </ul>
    </div>
    <% if local_assigns[:game_id] %>
      <div class="hidden">
        <%= f.label :game_id %>
        <%= f.text_field :game_id, value: game_id %>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>